<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>{{#link-to "home"}}HOME{{/link-to}}</li>
        <li>{{#link-to "add"}}ADD{{/link-to}}</li>
        <li>{{#link-to "contacts"}}CONTACTS{{/link-to}}</li>
      </ul>
    </div>
  </nav>

{{outlet}}